.everything{
    /* margin-top: 50px; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hide-AfterEmail {
    display: none;
}

.hide-AfterToken {
    display: none;
}

#button{
    margin-top: 20px;
    font-size: 0.85rem;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #1a73e8;
    color:white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
}