.loginField{
    width: fit-content;
    height: fit-content;
    background: green;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-top:250px;
    background-color: rgb(239, 239, 239);
    box-shadow: 1px 1px 20px rgb(147, 147, 147);
    padding:30px 50px;
    border-radius: 30px;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-top:150px;
    background-color: rgb(239, 239, 239);
    box-shadow: 1px 1px 20px rgb(147, 147, 147);
    padding:30px 50px;
    border-radius: 30px;
}


.loginForm input, .registerForm input {
    width: 20em;
    height:50px;
    text-align: center;
    border: solid rgb(229, 229, 229);
    border-radius: 10px;

}

.loginForm p, .registerForm p{
    font-size: 1.5rem;
}

.login-btn-submit{
    margin-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;
    background-color: #1a73e8;
    color:white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 10px 20px;

}


.register-link{
    font-size: 1.5rem;
    text-decoration: none;
}

.loginForm h1, .registerForm h1{
    margin-bottom:30px;
    font-weight: bold;
}


.login-btn-submit:hover{
    background-color: #4489e5;
}

.bg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../pictures/Theater.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.validated{
  
    color: rgb(148, 148, 148);
}

.not-validated{
    color: rgb(236, 43, 43);
}

.list-icon.green{
    color: #0f0;
}