body * {
    margin: 0;
    padding: 0;
}


.banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../../pictures/banner.png');
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    display: flex;
    margin: 50px;
}

h2 {
    font-weight: bold;
}


.filter-content {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 200px;
    padding-bottom: 50px;
    width: 100%;
    border-color: 20px solid red;
}

.filter-content-title {
    font-size: 30px;
}


.filter-content-filters {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
    justify-content: space-between;
}

.filter-content-filters .filter{
    width: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-content-top {
    margin-left: 100px;
    margin-right: 100px;
}

.show-content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.show-content-top {
    margin-bottom: 50px;
}

.show-content-image {
    min-width: 300px;
}

.show-content-rows {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 200px;
    width: 100%;

}

.show-content-date-time {
    text-align: right;

    font-weight: bold;
}

.show-content-show-info h2 {

    font-weight: bold;
}

.show-content-show-info-bold {
    font-weight: bold;
}

.show-content-image {
    width: 400px;
    height: 200px;
    background-color: rgb(207, 255, 207);
}

.show-content-show-info {
    min-width: 600px;
}


.button-tickets-kopen {
    size: 100px;
}


@media screen and (max-width: 1400px) {
    .banner {
        height: 400px;
    }

    .banner h1 {
        font-size: 30px;
    }

    .filter-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filter-content-filters {
        flex-direction: column;
        gap: 2rem;
    }

    .filter-content-filters .filter{
        min-width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    .show-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .show-content-rows {
        flex-direction: column;
        gap: 1rem;
    }

    .show-content-image {
        width: 100%;
        height: 200px;
    }

    .show-content-show-info {
        min-width: 100%;
    }

    #combo-box-demo{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        height: 400px;
    }

    .banner h1 {
        font-size: 30px;
    }

    .filter-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filter-content-filters {
        flex-direction: column;
        gap: 2rem;
    }

    .show-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .show-content-rows {
        flex-direction: column;
        gap: 1rem;
    }

    .show-content-image {
        width: 100%;
        height: 200px;
    }

    .show-content-show-info {
        min-width: 100%;
    }

    #combo-box-demo{
        width: 100px;
    }
}
    